<strong>Hello, {{ provider }} </strong>
<p>There was a cancelation, verify the details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br/>
  <strong>Date / Time : </strong> {{ date }} <br/><br/>
  <br/>
  <small>This schedule is available again.</small>
</p>